<!--   Core JS Files   -->
<script src="{{ "js/core/jquery.3.2.1.min.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "js/core/popper.min.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "js/core/bootstrap.min.js" | relURL }}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{{"js/now-ui-kit.js?v=1.1.0" | relURL }}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>

    {{ range .Site.Params.custom_js }}
    <script src="{{ "/js/" | relURL }}{{ . }}"></script>
    {{ end }}
    