<div class="trailforks-wrapper">
    <!-- TRAILFORKS WIDGET START -->
    <div class="TrailforksWidgetMap"
        data-w="100%"
        data-h="400vh"
        data-rid="{{ .Get "id" }}"
        data-maptype="trailforks"
        data-trailstyle="difficulty"
        data-controls="0"
        data-list="0"
        data-dml="1"
        data-layers="labels,region,poi"
        data-z="{{  .Get "z" | default "" }}"
        data-lat="{{ .Get "lat" | default "" }}"
        data-lon="{{ .Get "lon" | default "" }}"
        data-hideunsanctioned="0"
    >
    </div>
    <a href="https://www.trailforks.com/">Trailforks.com</a>
    <!-- TRAILFORKS WIDGET END -->
</div>
